body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at 0% 0%, #e3fdd9, #e9fae4, #f3ffef);
}

.left-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #519631, #61c821);
    height: 100vh;
}

.content-wrapper {
    width: 400px;
    height: 297px;
    padding: 20px;
    background-color: #61c821;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #4e8230;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: radial-gradient(circle at 0% 0%, #e3fdd9, #e9fae4, #f3ffef);
    color: black;
    font-size: 16px;
    box-sizing: border-box;
}

#username {
    width: calc(100% - 40px); /* Ajusta a largura do input de username */
}

#password {
    width: calc(100% - 40px); /* Ajusta a largura do input de senha para ficar um pouco menor */
}

input::placeholder {
    font-size: 16px;
    color: black;
    opacity: 0.8;
}

button {
    margin-top: 10px;
    background-color: white;
    color: green;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: radial-gradient(circle at 0% 0%, #e3fdd9, #e9fae4, #f3ffef);
}

button:hover {
    background-color: #ddd;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-67%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1; /* Garante que o botão de olhinho esteja acima do input */
}
.toggle-password:hover {
    background: none;
}

.toggle-password img {
    width: 30px;
    height: auto;
}

.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img {
    width: 50%;
    height: auto;
}

.welcome-text {
    font-size: 40px;
}

#error-message {
    color: #300101;
    font-weight: bold;
    margin-top: 10px;
    display: none;
}
