body {
    font-family: Arial, sans-serif;
    font-size: 10px;
    background: linear-gradient(90deg, #dbffcc, #e0fad8);
    margin: 0;
    padding: 1px; /* Adiciona um espaço entre o conteúdo e a borda */
    padding-top: 10px;
    padding-bottom: 10px;
    border: 10px solid #33ff00;
    border-right: 0px solid #33ff00;; /* Moldura verde ao redor da página */
    box-sizing: border-box; /* Garante que o padding e a borda não excedam o tamanho da página */
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 1px;
}

.cabecalho h1 {
    font-size: xx-large;
}

.imagem-cabecalho-IFSP {
    height: 85px;
    padding-left: 100px;
    padding-right: 20px;
}

.imagem-cabecalho-SAS {
    height: 100px;
    margin: 0 10px;
}

.botoes-cabecalho {
    display: flex;
    align-items: center;
}

.botao-cabecalho {
    background: none;
    border: none;
    padding: 0;
    margin: 0 5px;
}

.botao-cabecalho img {
    height: 40px;
}

.container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    overflow-x: auto;
}

.agendamento-semanal {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    display: block;
    overflow-x: auto;
}

.tabela-agendamento {
    width: 100%;
    border-collapse: collapse;
}

.tabela-agendamento th, .tabela-agendamento td {
    border: 1px solid #646060;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    height: 2em;
    overflow: hidden;
    font-size: 15px;
    white-space: nowrap;
}

.tabela-agendamento th {
    background: linear-gradient(135deg, #FFA000, #D19A3A);
    width: 150px;
}

.celula-local {
    font-weight: bold;
    background:linear-gradient(180deg, #93fc93, #4cf84c);
    text-align: left;
    font-size: 12px;
    width: 250px;
}

td {
    position: relative;
    padding: 0;
    width: auto;
}

.slot-horario {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

/* Estado de Seleção das Células */
.slot-horario.selecionado {
    background-color: #3399ff;
    cursor: pointer;
}

.exibicao-semana {
    font-size: 18px;
    margin-left: 15px;
    vertical-align: middle;
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(13, 255, 0); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #FFA000, #D19A3A); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #bd7802, #9c732b); 
  }

.popup {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-conteudo {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 80%;
    position: relative;
    text-align: left;
}

.popup .fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#excluir-reserva {
    margin-top: 10px;
    background-color: #ff4d4d;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#popup-confirmacao {
    position: fixed;
    bottom: 20px;
    left: 55%;
    transform: translateX(-90%);
    background-color: #80ff9e; /* verde */
    padding: 10px 20px;
    border-radius: 8px;
    border-style:groove;
    border-color: black;
    color: #fff;
    font-size: 18px;
    z-index: 1000;
    display: flex; /* Alinha os botões em linha */
    align-items: center;
    justify-content: center; /* Centraliza os botões */
    gap: 30px; /* Espaço entre os botões */
}

#popup-confirmacao button {
    border: none;
    background: transparent;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

#popup-confirmacao .botao-cancelar {
    color: #dc3545; /* vermelho */
}

#popup-confirmacao .botao-confirmar {
    color: #1a8f35; /* verde */
}

@media (max-width: 768px) {
    .cabecalho h1 {
        font-size: large;
    }

    .celula-local {
        width: 200px;
    }

    .tabela-agendamento th, .tabela-agendamento td {
        font-size: 12px;
    }
}