body {
    font-family: Arial, sans-serif;
    font-size: 10px; /* Diminui o tamanho da fonte global */
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#schedule-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Garante que a largura da tabela seja fixa */
}

#schedule-table th, #schedule-table td {
    border: 1px solid #646060;
    padding: 0; /* Remove padding das células */
    margin: 0; /* Remove margem das células */
    text-align: center;
    vertical-align: middle; /* Centraliza verticalmente */
    box-sizing: border-box; /* Inclui bordas e padding no cálculo do tamanho */
    height: 2em; /* Defina a altura fixa das células */
    overflow: hidden;
    font-size: 15px; /* Ajusta o tamanho da fonte das células */
}

#schedule-table th {
    background-color: #ff8c08;
}

.location-cell {
    font-weight: bold;
    background-color: #33ff00;
    text-align: left;
    font-size: 10px; /* Ajusta o tamanho da fonte das células de local */
    width: 200px; /* Defina a largura desejada para a coluna de locais */
}

td {
    position: relative; /* Necessário para o posicionamento absoluto dos quadradinhos */
    padding: 0; /* Remove padding das células */
}

.time-slot {
    width: 100%; /* Preenche toda a largura da célula */
    height: 100%; /* Preenche toda a altura da célula */
    background-color: #b3ffb3; /* Cor padrão dos quadradinhos */
    cursor: pointer;
    box-sizing: border-box; /* Garante que bordas e padding não afetem o tamanho */
    position: absolute; /* Permite que o quadradinho ocupe toda a célula */
    top: 0; /* Posiciona no topo da célula */
    left: 0; /* Posiciona à esquerda da célula */
    overflow: hidden;
}

.time-slot.selected {
    background-color: #3399ff; /* Cor para quando o quadradinho é selecionado */
}
