/* Estilos para o site tipo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #c8ffb4, #b4f69d, #a4d891);
}

.titulo {
    text-align: center;
    margin-top: 40px; /* Ajusta a margem superior para o título */
}

.titulo h1 {
    color: #ffffff;
    background-color: #56cb1f; /* Fundo verde */
    padding: 10px 20px; /* Adiciona espaço interno ao redor do texto */
    border-radius: 10px; /* Bordas arredondadas */
    display: inline-block; /* Garante que o fundo se ajuste ao tamanho do texto */
    font-size: 60px;
}

.opcao {
    text-align: center;
}

.opcao p {
    color: #ffffff;
    background-color: #56cb1f; /* Fundo verde */
    padding: 10px 20px; /* Adiciona espaço interno ao redor do texto */
    border-radius: 10px; /* Bordas arredondadas */
    display: inline-block; /* Garante que o fundo se ajuste ao tamanho do texto */
    font-size: 40px;
    margin: 0; /* Remove margem padrão do parágrafo */
    line-height: 1.2;
}

.opcoes-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.opcao-item-1 {
    text-align: center;
    margin: 0 20px;
    background-color:transparent ;
    padding: 20px;
    border-radius: 10px;
    
}

.opcao-item-1 img {
    width: 100%;  /* Ajuste conforme necessário */
    height: auto;
    transition: transform 0.3s ease; /* Adiciona transição suave */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

.opcao-item-1 p {
    color: #000000; /* Texto mais escuro */
    font-size: 24px;
    margin-top: 10px;
}

.opcao-item-2 {
    text-align: center;
    margin: 0 20px;
    background-color:transparent ;
    padding: 20px;
    border-radius: 10px;
    
}

.opcao-item-2 img {
    width: 100%; /* Ajuste conforme necessário */
    height: auto;
    transition: transform 0.3s ease; /* Adiciona transição suave */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

.opcao-item-2 p {
    color: #000000; /* Texto mais escuro */
    font-size: 24px;
    margin-top: 10px;
}

.opcao-item-1:hover img,
.opcao-item-2:hover img {
    transform: scale(1.1); /* Aumenta a escala da imagem ao passar o mouse */
}

html {
    height: 100%;
    border: 10px solid #56cb1f; /* Adiciona borda verde ao redor de toda a tela */
    box-sizing: border-box; /* Garante que a borda não aumente o tamanho total */
}
